header {
    border-top: #000000 5px solid;
    border-bottom: #000000 5px solid;
}

img {
    width: 300px;
}

.centerphoto {
    display: block;
    margin: auto;
}

body {
    background-color: #dddddd;
    margin: 1.2in;
    font-family: Times;
}

h1,h2,h3 {
    text-align: center;
}

h3 {
    color: #2b2b2b
}

footer {
    margin-top: top 10px;
    border-top: #000000 5px solid;
    border-bottom: #000000 5px solid;
}